h3 {
   color: brown;
   text-decoration-line: underline;
   text-decoration-style: solid;
}

img {
   margin: 10px;
   height: 200px;
}

.photos {
   text-align: center;
   width: 200px;
   margin: auto;
}
